.wrapper {
    display: table-cell;
    vertical-align: bottom;
    position: fixed;
    bottom: 10px;
    width: 25em;
}

.content {
    max-height: 200px;
    color: white;
    background-color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: inherit;
    padding-bottom: inherit;
    margin: 10px;
    border-radius: 5px;
    transition: height 1s;
}

.toastval {
    padding: 10px;
    margin-top: auto;
    margin-bottom: auto;
    float: left;
    vertical-align: middle;
}

.diebutton {
    float: right;
    display: inline-block;
    color: white !important;
}
