input {
    padding: 10px !important;
}

.github-fork-ribbon:before {
    /*background-color: #009688 !important;*/
    background-color: #ee8888 !important;
    padding-bottom: 25px;
}

.github-fork-ribbon:after {
    padding-bottom: 25px;
}
