<!DOCTYPE html>
<html lang="">
    <head>
        <title>Puppy Love @iitk</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <base href="/">
        <!-- Material Design fonts -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.css">

        <!-- Bootstrap Material Design -->
        <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css">
        <link rel="stylesheet" type="text/css" href="/node_modules/bootstrap-material-design/dist/css/ripples.min.css">

        <!-- My styles -->
        <link rel="stylesheet" href="/default.css">
    </head>
    <body>

        <div class="jumbotron text-center">
            <h1>Puppy @iitk!</h1>
            <p>Programming Club IIT Kanpur</p>
        </div>

        <div class="container">
            <puppy-app>
                Loading, please wait...
            </puppy-app>
        </div>

        <!-- Commmon files to be cached -->
        <script src="/build/common.js"></script>
        <!-- Angular2 files -->
        <script src="/build/vendor.js"></script>
        <!-- App script -->
        <script src="/build/app.js"></script>
        <!-- Crypto! -->
        <script src="/node_modules/sjcl/sjcl.js"></script>

    </body>
</html>
