<!--header('content-type: application/json; charset=utf-8');-->
<!--header("access-control-allow-origin: *");-->
<html>
    <head>
        <title>Puppy Love</title>
        <!-- Bower resources -->
        <script type="text/javascript"
                src="bower_components/jquery/dist/jquery.min.js"> </script>

        <link rel="stylesheet"
              href="bower_components/bootstrap/dist/css/bootstrap.min.css"> </link>

        <script type="text/javascript"
                src="bower_components/bootstrap/dist/js/bootstrap.min.js"> </script>

        <!-- Custom files -->
        <link rel="stylesheet" href="css/core.css"> <!-- Include this everywhere -->
        <link rel="stylesheet" href="css/index.css">
        <link rel="stylesheet" href="css/login.css">
        <script type="text/javascript" src="js/utils.js"></script>
        <script type="text/javascript" src="js/register.js"></script>
    </head>
    <body>

        <div class="jumbotron text-center">
            <h1>Puppy Love!</h1>
            <p>Programming Club's IIT Kanpur</p>
        </div>

        <div class="container logincont">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="/index.html" id="login-form-link">Login</a>
                                </div>
                                <div class="col-xs-6">
                                    <a href="/register.html" class="active" id="register-form-link">Register</a>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="register-form" role="form" style="display: block;">
                                        <div class="form-group">
                                            <input type="text" name="roll" id="roll" tabindex="1" class="form-control" placeholder="Roll Number" value="">
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-sm-6 col-sm-offset-3">
                                                    <input name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Get email"><br/><br/>
                                                    <a class="text-center" href="/setpass.html">Got an auth code?</a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="errorModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                            <h4 class="modal-title">An error occured</h4>
                        </div>
                        <div class="modal-body">
                            <p id="errorDescription"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
</html>
