<div class="about jumbotron center-block">
  <h1>How to secure your password</h1>
  <div>
    <p align="center">
      To keep your data safe, we protect your information with your password set for puppy love.<br>
      This has the drawback that there is no way to recover your data if you forget your password.
    </p>
    <p>
      Fortunately, you can keep your password safe, without compromising on your security.
      To do that, you just need to use your CC password once, and your password will be stored safely,
      in a private manner, such that no one other than you can retrieve it later if needed.
  </div>
  <h2>Protect your password</h2>
  <div>
    <form role="form" (submit)="savepass($event, ccpass.value, ccpass2.value)"
          style="margin-top: 0px;">
      <div class="form-group" style="margin: 0px; padding: 0px;">
        <input type="password"
               #ccpass
               autofocus
               class="form-control"
               placeholder="Your CC password">
        <input type="password"
               #ccpass2
               autofocus
               class="form-control"
               placeholder="Enter your CC password again">
        <div class="text-center">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    </form>
  </div>

  <div class="[ form-group text-center ]" style="margin: 15px;">
    <div class="[ btn-group ]">
      <label (click)="homepage()" id="label_logout"
                                  class="[ btn btn-default text-center wide ]">
        Back
      </label>
    </div>
  </div>

</div>
