[mat-button] {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

mat-card-title {
  text-align: center;
}

.profile {
  width: 20vw;
}

.profile-pic {
  width: 20vw;
  height: 20vw;
  background-size: cover;
  padding: 24px;
  flex-grow: 1;
}

.main {
  width: 66.67vw;
}

.smallonly {
  display: none;
}

.lovely-heart {
  max-width: 50px;
}

@media screen and (max-width: 640px) {
  .smallonly {
    display: block;
  }
  .main {
    display: block;
    width: 90vw;
  }
  .bigonly {
    display: none;
  }
  .textonly-greeter {
    margin: 5px;
  }
}
