<ng-container *ngIf="(user$ | async) as user; else loading;">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
    <mat-card class="smallonly textonly-greeter">
      <h2>Hello, {{ user.name }}</h2>
    </mat-card>
    <mat-card class="profile bigonly">
      <!-- <img mat-card-image [src]="user.image" alt="You?"> -->
      <div mat-card-image class="profile-pic" [style.background-image]="url">
      </div>
      <mat-card-title> Hi {{ user.name }} </mat-card-title>
      <mat-card-content>
        <button mat-button>
          <mat-icon>{{ user.submitted ? 'check' : 'close' }}</mat-icon>
          {{ user.submitted ? 'Submitted!' : 'Not Submitted' }}
        </button>
        <button mat-button>
          <mat-icon>power_settings_new</mat-icon>
          Logout
        </button>
        <hr>
        <a mat-button routerLink="/about"> About the platform </a>
        <a mat-button href="https://github.com/pclubiitk/puppy-love"> Source Code </a>
        <a mat-button href="http://pclub.in"> pclub.in </a>
        <a mat-button routerLink="/credits"> Credits </a>
      </mat-card-content>
    </mat-card>

    <mat-card class="main">
      <mat-card-content>
        <puppy-search (select)="add($event)" [students]="main.people"></puppy-search>
        <!-- <choices [choices]="user.choices" (personRemoved)=""></choices> -->
        <!-- <mat-form-field class="demo-chip-list"> -->
        <!-- <mat-chip-list #chipList> -->
        <!-- <mat-chip *ngFor="let choice of user.data.choices" [selectable]="true" -->
        <!-- [removable]="true" (remove)="remove(choice)"> -->
        <!-- {{ choice._id }} -->
        <!-- <mat-icon matChipRemove>cancel</mat-icon> -->
        <!-- </mat-chip> -->
        <!-- <input placeholder="New Choice..." -->
        <!-- [disabled]="user.data.choices.length > 4" -->
        <!-- [matChipInputFor]="chipList" -->
        <!-- [matChipInputSeparatorKeyCodes]="separatorKeysCodes" -->
        <!-- (matChipInputTokenEnd)="add($event)" /> -->
        <!-- </mat-chip-list> -->
        <!-- </mat-form-field> -->
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <h2 *ngIf="user.data.choices.length !== 0" class="smallonly">Your choices:</h2>
          <puppy-student *ngFor="let choice of user.data.choices" [student]="choice" (select)="remove(choice)"></puppy-student>
        </div>
        <button mat-button (click)="onSave()">
          <mat-icon>save</mat-icon>
          Save your choices!
        </button>
        <button mat-button (click)="onSubmit()">
          <mat-icon>sentiment_very_satisfied</mat-icon>
          Lock and submit!
        </button>
        <div fxLayout="row" *ngIf="maleHearts(user).length !== 0">
          <h3>Hearts from people that the OA identifies as male:</h3>
        </div>
        <hr>
        <div fxLayout="row" fxLayoutAlign="start center">
          <img class="lovely-heart" *ngFor="let h of maleHearts(user).slice(0, 9)" src="/assets/heart.png">
        </div>
        <div fxLayout="row" *ngIf="femaleHearts(user).length !== 0">
          <h3>Hearts from people that the OA identifies as female:</h3>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <img class="lovely-heart" *ngFor="let h of femaleHearts(user).slice(0, 9)" src="/assets/heart.png">
        </div>
        <!-- <hearts [breakloop]="breakvoteloop"> </hearts> -->
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>

<ng-template #loading>
  Loading
</ng-template>
