<div class="row">

    <div class="col-md-3">
        <!-- Contains details of total people and your status -->

        <div class="panel panel-primary">
            <div id="your_name" class="panel-heading">
                {{ greeting }} {{ dataservice.your_name }}
            </div>
            <div class="panel-body">
              <div class="thumbnail text-center">

                  <img id="your_image"
                       [src]="dataservice.your_image"
                       alt="You?">
                  <editimg>
                  </editimg>
                </div>
                <div class="text-center" id="your_gender">
                  {{ dataservice.your_gender }}
                </div>
            </div>


            <!-- Have you submitted? -->
            <div class="[ form-group text-center thinn ]" style="margin: 15px;">
                <div class="[ btn-group ]">
                    <label (click)="submitsidebutton()" id="label_submitted"
                           class="[ btn btn-default wide ]">
                      <i class="material-icons">
                        {{ dataservice.submitted }}
                      </i>
                      {{dataservice.submitted == 'check' ? 'Submitted!' : 'Not submitted'}}
                    </label>
                </div>
            </div>

            <div class="[ form-group text-center thinn ]" style="margin: 15px;">
                <div class="[ btn-group ]">
                    <label (click)="logout()" id="label_logout"
                           class="[ btn btn-default wide ]">
                        <i class="material-icons">power_settings_new</i> Logout
                    </label>
                </div>
            </div>

            <div class="[ form-group text-center thinn ]" style="margin: 15px;">
                <div class="[ btn-group ]">
                    <div (click)="secure()" id="secure_button">
                      <i class="material-icons middleicon">lock_outline</i>
                      Secure your password
                    </div>
                </div>
            </div>

            <hr>

            <div class="[ form-group text-center ]" style="margin: 15px;">
                <div class="[ btn-group ]">
                    <label (click)="aboutpage()" id="label_logout"
                           class="[ btn btn-default text-center wide ]">
                      About the platform
                    </label>
                    <label (click)="sourcecodepage()" id="label_logout"
                           class="[ btn btn-default text-center wide ]">
                      Source code
                    </label>
                    <label (click)="pclubpage()" id="label_logout"
                           class="[ btn btn-default text-center wide ]">
                      PClub.in
                    </label>
                    <label (click)="creditspage()" id="label_logout"
                           class="[ btn btn-default text-center wide ]">
                      Credits
                    </label>
                </div>
            </div>

        </div>

    </div>
    <div class="col-md-8">
        <!-- Contains the main field where you can choose your choices -->

        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Choose!</h3></div>
            <div class="panel-body">

                <search placeholder="Search for names"
                        (md-selected-item-change)="personSelected($event)"
                        [md-items]="people">
                </search>
                <div id="list_search" class="list-group">
                </div>

                <br/><br/>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Your choices
                                <span style="float: right;">
                                    {{ dataservice.saving }}
                                </span>
                            </div>
                            <div class="panel-body">

                                <!-- Choices -->
                                <div class="row" id="choices-row">
                                    <choices
                                        [people]="dataservice.choices"
                                        (person-remove)="personRemoved($event)">
                                    </choices>
                                </div>
                                <!-- End of choices row -->

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of choices panel row -->

                <div class="[ form-group text-center ]" style="margin: 15px;">
                  <div class="[ btn-group ]">
                    <label id="submit_button" class="[ btn btn-default greenbt ]"
                           [class.greener]="this.canyousubmitrightnow"
                           (click)="submitButton()">
                      <i class="material-icons">
                        sentiment_very_satisfied
                      </i>
                      Lock and submit!
                    </label>
                  </div>
                </div>

                <div class="[ text-center ]" style="margin: 15px;">
                  <hearts> </hearts>
                </div>

            </div>
        </div>

    </div>
    <div class="col-md-1">
        <!-- Empty div for padding -->
    </div>

    <div id="errorModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        &times;
                    </button>
                    <h4 class="modal-title">An error occured</h4>
                </div>
                <div class="modal-body">
                    <p id="errorDescription"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>

        </div>
    </div>

    <!-- End of main content div -->

</div>
<toasts [toasthandler]="t.toasthandler"></toasts>
