.red {
    color: red;
}

.wide {
    width: 100%;
}

.greenbt {
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
}

.greener {
    background-color: palegreen;
}

.middleicon {
    vertical-align: middle;
}

#secure_button {
    padding: 8px;
    font-size: 18px;
    vertical-align: middle;
}

#secure_button:hover {
    background-color: #eeeeee;
}

.thinn {
    padding: 0px;
    margin: 0px !important;
}
