<div class="row" style="padding: 10px;">
    <ul style="margin: 0px; padding: 0px;">
        <li *ngFor="let person of people" style="display: inline;">
            <div class="col-sm-4 col-md-3">
                <div class="thumbnail">
                    <img src="{{person.image}}" alt="{{person.name}}">
                    <div class="caption">
                        <p class="text-center">
                            {{person.name}} - {{person.roll}}
                        </p>
                        <p class="text-center">
                            <a class="btn btn-primary" role="button"
                               id="del-{{person.roll}}"
                               (click)="itemClicked($event)">
                                Remove
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
