@font-face {
    font-family: ProximaNova;
    src: url('proxima-nova-regular.ttf') format("truetype");
}
*{
    font-family: ProximaNova
}
body{
    background-image: url("../images/cream_pixels.png");
}
.debug{
    border: 1px dotted green;
}
.header{
    position: absolute;
    top:0px;
    background-color: #FB7D26;
    height: 103px;
    width: 100%;
}
.nav > li > a{
    background-color: black;
    margin-top: 45px;
    margin-right: 24px;
    color: white;
}

.nav > li > a:hover{
    color: black;
}

.nav > li > a.inactive{
    color:gray;
    cursor: pointer;
}
.nav > li > a.inactive:hover{
    background-color: black;
}

.nav > li > a.active{
    border-bottom: 2px solid white;
}
.nav > li > a.active:hover{
    background-color: black;
    color:white;
}
.name-search{
    margin-top: 50px;
    background-color: white;
    color: black;
    font-size: 16;
}
.form-control:focus{
    border-color: blueviolet;
}
.selections{
    margin-top:50px;
}
/*.selections >.img-wrapper> img{
}

.selections >.img-wrapper> .name-label{
    background-color: rgba(0,0,0,0.8);
    color: white;
    position: absolute;
bottom: -27;
width: 161;
font-size: 20;

}*/
.selection{
    background-color: #FB7D26;
    color: white;
    min-height: 161px;
    margin-top: 25px;
}
.selection-image {
    max-height: 161px;
}
.selection > div{
    min-height: 161px;
    font-family: ProximaNova;
}

.selection-name{
    margin-top: 26px;
    width: 100%;
    font-size: 30;
    top: 49px;
    position: relative;
}

.selection-detail{
    font-size: 20;
    text-align: center;
    position: relative;
    top: 40;
}
.selection-wrapper{
    margin-left: 15px;

}

@media(min-width: 768px) and (max-width: 979px){
    .selection{
        background-color: #FB7D26;

        color: white;
        min-height: 80px;
    }
    .selection-image {
        max-height: 80px;
    }
    .selection > div{
        min-height: 80px;
        font-family: ProximaNova;
    }
    .selection-name{
        margin-top: 13px;
        width: 100%;
        font-size: 25;

    }

    .selection-detail{
        font-size: 15;
        text-align: center;
    }
    .selection-wrapper{
        margin-left: 10px;
    }
}

@media(max-width: 768px){
    .selection{
        background-color: #FB7D26;

        color: white;
        min-height: 50px;
    }
    .selection-image {
        max-height: 50px;
    }
    .selection > div{
        min-height: 50px;
        font-family: ProximaNova;
    }
    .selection-name{
        margin-top: 9px;
        width: 100%;
        font-size: 15;
    }

    .selection-detail{
        font-size: 10;
        text-align: center;
    }
    .selection-wrapper{
        margin-left: 5px;
    }
}
.anon-selections-wrapper {
    background-color: #FB7D26;
    color: white;
    margin:0px;
    margin-top:90px;
    display: none;
}
.anon-selections {
    color: white;
    font-family: ProximaNova;
    font-size: 30px;
}
.img-anon{
    max-height: 100px;

}
.img-anon-wrapper{
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 15px;
}
.anon-count{
    height: 100px;
}
.anon-count>p{
    position: absolute;
    bottom: -5px;
    font-size: 20;
    font-family: ProximaNova;
}
.bin{
    max-height: 33px;
    right: 24px;
    top: 32;
    position: absolute;
    cursor: pointer;
}
.submit-btn{
    color: white;
    background-color: black;
    border-color: #cccccc;
    position: absolute;
    right: 15px;
    margin-top: 10px;
    font-size: 22px;
}
.submit-btn:hover{
    color: black;
    background-color: white;
}
.empty-selection{
    border:1px dashed white;
    display: none;
}
.ui-menu-item{
    background-color: rgba(0,0,0,0.8);
    height: 30;
    margin: 0 5px;
}

.ui-menu-item > a{
    color: white;
}

.ui-autocomplete{
    background-color: transparent;
}
.ui-widget-content{
    background: none;
}
.ui-state-focus{
    color: black!important;
    border:none!important;
    background: none!important;
    background-color: white!important;
    height: 30!important;

}

.logout{
    position: absolute;
    top:33px;
    right:44px;
    border-radius: 17px;
    padding: 10;
    cursor: pointer;
    color: black;
}

.login{
    position: absolute;
    top:33px;
    right:44px;
    border-radius: 17px;
    padding: 10;
    cursor: pointer;
    color: black;
}
.auto-left{
    position: absolute;
    left:10%;
}
.auto-center{
    position: absolute;
    left:45%;
}
.auto-right{
    position: absolute;
    left:80%;
}
#followingBallsG{
    position:absolute;
    width:200px;
    height:16px;
    top:71px;
    left:45%;
    display: none;
}

.followingBallsG{
    background-color:#000000;
    position:absolute;
    top:0;
    left:0;
    width:16px;
    height:16px;
    -moz-border-radius:8px;
    -moz-animation-name:bounce_followingBallsG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:8px;
    -webkit-animation-name:bounce_followingBallsG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:8px;
    -ms-animation-name:bounce_followingBallsG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:8px;
    -o-animation-name:bounce_followingBallsG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:8px;
    animation-name:bounce_followingBallsG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#followingBallsG_1{
    -moz-animation-delay:0s;
}

#followingBallsG_1{
    -webkit-animation-delay:0s;
}

#followingBallsG_1{
    -ms-animation-delay:0s;
}

#followingBallsG_1{
    -o-animation-delay:0s;
}

#followingBallsG_1{
    animation-delay:0s;
}

#followingBallsG_2{
    -moz-animation-delay:0.13s;
    -webkit-animation-delay:0.13s;
    -ms-animation-delay:0.13s;
    -o-animation-delay:0.13s;
    animation-delay:0.13s;
}

#followingBallsG_3{
    -moz-animation-delay:0.26s;
    -webkit-animation-delay:0.26s;
    -ms-animation-delay:0.26s;
    -o-animation-delay:0.26s;
    animation-delay:0.26s;
}

#followingBallsG_4{
    -moz-animation-delay:0.39s;
    -webkit-animation-delay:0.39s;
    -ms-animation-delay:0.39s;
    -o-animation-delay:0.39s;
    animation-delay:0.39s;
}

@-moz-keyframes bounce_followingBallsG{
    0%{
        left:0px;
        background-color:#000000;
    }

    50%{
        left:185px;
        background-color:#FFFFFF;
    }

    100%{
        left:0px;
        background-color:#000000;
    }

}

@-webkit-keyframes bounce_followingBallsG{
    0%{
        left:0px;
        background-color:#000000;
    }

    50%{
        left:185px;
        background-color:#FFFFFF;
    }

    100%{
        left:0px;
        background-color:#000000;
    }

}

@-ms-keyframes bounce_followingBallsG{
    0%{
        left:0px;
        background-color:#000000;
    }

    50%{
        left:185px;
        background-color:#FFFFFF;
    }

    100%{
        left:0px;
        background-color:#000000;
    }

}

@-o-keyframes bounce_followingBallsG{
    0%{
        left:0px;
        background-color:#000000;
    }

    50%{
        left:185px;
        background-color:#FFFFFF;
    }

    100%{
        left:0px;
        background-color:#000000;
    }

}

@keyframes bounce_followingBallsG{
    0%{
        left:0px;
        background-color:#000000;
    }

    50%{
        left:185px;
        background-color:#FFFFFF;
    }

    100%{
        left:0px;
        background-color:#000000;
    }

}
