@font-face {
    font-family: ProximaNova;
    src: url('proxima-nova-regular.ttf') format("truetype");
}
.debug{
    border: 1px dotted green;
}
body{
    background-image: url('../images/cream_pixels.png');
}
*{
    font-family: ProximaNova
}

.info{
    max-height: 80%;
}

.header{
    position: absolute;
    top:0px;
    background-color: darkred;
    height: 103px;
    width: 100%;
}


#getStarted{

    width: 100%;
    text-align: center;
    font-size: 18;
}

#getStarted > input{
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 30px;
    padding: 4 13;
    width: 32%;
    max-width: 240px;
    font-family: Helvetica;
}
#getStarted2{
    position: absolute;
    top: 50;
    width: 100%;
    text-align: center;
    font-size: 18;
}

#getStarted2 > input{
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-radius: 30px;
    padding: 4 13;
    width: 32%;
    max-width: 240px;
    font-family: Helvetica;
}
.form-control:focus{
    border-color: blueviolet;
}

.btn {
    border: none;
    font-size: 15px;
    font-weight: normal;
    line-height: 1.4;
    border-radius: 4px;
    padding: 10px 15px;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
    transition: border .25s linear, color .25s linear, background-color .25s linear;
}
.btn:hover,
.btn:focus {
    outline: none;
    color: #ffffff;
}
.btn:active,
.btn.active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
    background-color: #bdc3c7;
    color: rgba(255, 255, 255, 0.75);
    opacity: 0.7;
    filter: alpha(opacity=70);
}
.btn > [class^="fui-"] {
    margin: 0 1px;
    position: relative;
    line-height: 1;
    top: 1px;
}
.btn-xs.btn > [class^="fui-"] {
    font-size: 11px;
    top: 0;
}
.btn-hg.btn > [class^="fui-"] {
    top: 2px;
}
.btn-default {
    color: #ffffff;
    background-color: #D35400;
    display: inline;
    width: 100px;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #ffffff;
    background-color: #cacfd2;
    border-color: #cacfd2;
}
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background: #a1a6a9;
    border-color: #a1a6a9;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #bdc3c7;
    border-color: #bdc3c7;
}
