<div class="about jumbotron center-block">
  <h1>How to use</h1>
  <div>
    <p align="center">
    Puppy Love lets you find mutual interests among people on campus. And it is simple to use!
    <br>
    The platform is ours, but the love-algorithm is yours! Express your puppy love, and enjoy!
    <br>
    </p>
  </div>
  <h2>Steps</h2>
  <div>
    <ul style="font-size: 21px">
      <li><a href="/#/signup">Create a new account</a>, through an email confirmation, and then setting up a password.</li>
      <li>Make sure you do not forget the password. If lost, your data cannot be recovered.</li>
      <li>We do not send your plain password to the server even for login, so be assured :)</li>
      <li><a href="/#/login">Log in</a> to your account.</li>
      <li>Select up to 4 of your interests (only opposite gender supported for now).</li>
      <li>These choices will <b>NOT</b> be visible to <b>anyone</b> else.</li>
      <li>Lock and submit your choices! Remember, you cannot change your choices after this.</li>
      <li>Check back regularly to receive hearts signifying how many people like you :)</li>
      <li>Open the platform at midnight on 14th of February to know if one or more of your interests likes you back :)</li>
      <li>Remember, if your interest does not like you back, he/she will <b>NEVER</b> know that you like them.</li>
    </ul>
    <p align="center">
    Good luck!
    </p>
  </div>

  <div class="[ form-group text-center ]" style="margin: 15px;">
    <div class="[ btn-group ]">
      <label (click)="homepage()" id="label_logout"
                                  class="[ btn btn-default text-center wide ]">
        Back
      </label>
    </div>
  </div>

</div>
