<mat-card-title>
  How To Use
</mat-card-title>
<mat-card-content>
  <p>
    Puppy Love lets you find mutual interests among people on campus. And it is simple to use!
  </p>
  <p>
    The platform is ours, but the love-algorithm is yours! Express your puppy love, and enjoy!
  </p>
  <h3 matHeader>Steps</h3>
  <ul class="mat-subheading-1">
    <!-- <li> <a routerLink="/signup"> Create a new account </a>, through an email confirmation, and then setting up a password.</li> -->
    <li> Create a new account, through an email confirmation, and then setting up a password.</li>
    <li> Make sure you do not forget the password. If lost, your data cannot be recovered.</li>
    <li> We do not send your plain password to the server even for login, so be assured :)</li>
    <!-- <li> <a routerLink="/login"> Log in </a> to your account.</li> -->
    <li> Log in to your account.</li>
    <li> Select up to 4 of your interests.</li>
    <li> These choices will <strong>NOT</strong> be visible to <strong>anyone</strong> else.</li>
    <li> Lock and submit your choices! Remember, you cannot change your choices after this.</li>
    <li> Check back regularly to receive hearts signifying how many people like you :)</li>
    <li> Open the platform at midnight on 14th of February to know if one or more of your interests likes you back :)</li>
    <li> Remember, if your interest does not like you back, he/she will NEVER know that you like them. </li>
  </ul>
  <div style="text-align: center;"> Good Luck! </div>
</mat-card-content>
<mat-card-actions>
  <a mat-button routerLink="/login"> Back </a>
</mat-card-actions>
