<mat-card>
  <mat-card-title>
    About
  </mat-card-title>
  <mat-card-content>
    <p>
      Who said win-win situations do not exist?
      <br>
      Puppy Love helps you meet your crush, anonymously.
    </p>
    <p>
      Express your interest, and both of you will be informed if the
      interest is mutual. Otherwise, no one will <strong>EVER</strong>
      know about your choice. No, <em>not even the admin</em>, i.e. us.
    </p>
    <mat-list>
      <mat-divider></mat-divider>
      <h3 matHeader>Features</h3>
      <mat-list-item> If you do not match with someone, no one can ever know your choice, not even the administrator </mat-list-item>
      <mat-list-item> No information will ever leave your browser which lets the administrator or anyone else see your choices </mat-list-item>
      <mat-list-item> Your login password (of puppy love) will never be sent to the server, even for login. We use secure hashes. </mat-list-item>
      <mat-list-item> Algorithm reviewed by professors and peers in terms of security and confidentiality </mat-list-item>
      <mat-divider></mat-divider>
      <h3 matHeader>Want to read the algorithm?</h3>
      <mat-list-item> <a href="https://sakshamsharma.com/2016/10/puppy1/"> Part 1 - Introduction </a> </mat-list-item>
      <mat-list-item> <a href="https://sakshamsharma.com/2016/11/puppy2/"> Part 2 - Matching Choices </a> </mat-list-item>
      <mat-list-item> <a href="https://sakshamsharma.com/2016/12/puppy3/"> Part 3 - Restricting number of choices to 4 anonymously </a> </mat-list-item>
    </mat-list>
  </mat-card-content>
  <mat-card-actions>
    <a mat-button routerLink="/login"> Back </a>
  </mat-card-actions>
</mat-card>
