<mat-card-title>
  About
</mat-card-title>
<mat-card-content>
  <p>
    Who said win-win situations do not exist?
    <br>
    Puppy Love helps you meet your crush, anonymously.
  </p>
  <p>
    Express your interest, and both of you will be informed if the
    interest is mutual. Otherwise, no one will <strong>EVER</strong>
    know about your choice. No, <em>not even the admin</em>, i.e. us.
  </p>
  <h3 matHeader>Features</h3>
  <ul>
    <li> If you do not match with someone, no one can ever know your choice, not even the administrator </li>
    <li> No information will ever leave your browser which lets the administrator or anyone else see your choices </li>
    <li> Your login password (of puppy love) will never be sent to the server, even for login. We use secure hashes. </li>
    <li> Algorithm reviewed by professors and peers in terms of security and confidentiality </li>
  </ul>
  <h3 matHeader>Want to read the algorithm?</h3>
  <p> <a href="/assets/report.pdf"> Puppy Love Alogorithm Report </a> </p>
</mat-card-content>
<mat-card-actions>
  <a mat-button routerLink="/login"> Back </a>
</mat-card-actions>
