<div class="col-sm-3"></div>
<div class="col-sm-6 center-block jumbotron">
    <h2>Send verification mail</h2>
    <form role="form" (submit)="mailer($event, roller.value)">
        <div class="form-group">
            <label for="roller">Roll Number</label>
            <input type="text" #roller class="form-control" id="roller" placeholder="Your roll number">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Send mail</button>
        </div>
    </form>

    <br/>

    <h2>Signup</h2>
    <p>You need a verification mail before this step (see above)</p>
    <form role="form" (submit)="signup($event, roll.value, password.value, authCode.value)">
        <div class="form-group">
            <label for="roll">Roll Number</label>
            <input type="text" #roll class="form-control" id="roll" placeholder="Your roll number">
        </div>
        <div class="form-group">
            <label for="passHash">Password (we recommend using CC password so you don't forget)</label>
            <input type="password" #password class="form-control" id="password" placeholder="Set a password">
        </div>
        <div class="form-group">
            <label for="authCode">Auth Code</label>
            <input type="text" #authCode class="form-control" id="authCode" placeholder="Authentication code (check email)">
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-default">Submit</button>
        </div>
    </form>

    <br/>

    <div class="text-center">
      {{ message }}
      <br/>
      <button (click)="login($event)" class="btn btn-default">Login page</button>
    </div>

</div>
<div class="col-sm-3"></div>
