<div class="about jumbotron center-block">
  <h1>About</h1>
  <div>
    <p>
      Who said win-win situations do not exist?<br>
      Puppy Love helps you meet your crush, anonymously.<br><br>
      Express your interest, and both of you will be informed if the interest is mutual. Otherwise, no one will EVER know about your choice. No, <i>not even the admin, i.e. us</i>.
    </p>
  </div>
  <h2>Why the change?</h2>
  <div>
    <p>
      We can almost hear you say, why a NEW puppy love?<br><br>
      We hear you. This complete new version was built through the semesters, and has a HUGE number of improvements, which make it immensely more secure than the previous version.
    </p>
    <ul style="font-size: 21px">
      <li>If you do not match with someone, no one can ever know your choice, not even the administrator</li>
      <li>Algorithm designed from the ground up to ensure the maximum level of trust possible theoretically</li>
      <li>No information will ever leave your browser which lets the administrator or anyone else see your choices</li>
      <li>Algorithm reviewed by professors and peers in terms of security and confidentiality</li>
      <li>No need to use your CC password. You need to sign up and set a new password for puppy love by using your IITK Email address</li>
      <li>Code in a high level language (and sane. PHP, we are looking at you) reduces chances of bugs and improves performance</li>
    </ul>
  </div>

  <div class="[ form-group text-center ]" style="margin: 15px;">
    <div class="[ btn-group ]">
      <label (click)="homepage()" id="label_logout"
             class="[ btn btn-default text-center wide ]">
        Back
      </label>
    </div>
  </div>

</div>
