<div class="about jumbotron center-block">
  <h1>Credits</h1>
  <div>
    <p>
      Who said win-win situations do not exist?<br>
      Puppy Love helps you meet your crush, anonymously.<br><br>
      Express your interest, and both of you will be informed if the interest is mutual. Otherwise, no one will EVER know about your choice. No, <i>not even the admin, i.e. us</i>.
    </p>
  </div>

  <div class="[ form-group text-center ]" style="margin: 15px;">
    <div class="[ btn-group ]">
      <label (click)="homepage()" id="label_logout"
             class="[ btn btn-default text-center wide ]">
        Back
      </label>
    </div>
  </div>

</div>
