<div class="about jumbotron center-block">
  <h1>Credits</h1>
  <div>
    <p>
      <a href="https://github.com/pclubiitk/valentine">Puppy Love</a> was originally written by Ankush Sachdeva and Shivanshu Agarwal, in 2014.<br>
      <a href="https://github.com/pclubiitk/puppy-love">This reboot</a> of Puppy Love was written by Saksham Sharma, with contributions from Yash Srivastava, Vinayak Tantia and Kunal Kapila.
    </p>
  </div>

  <div class="[ form-group text-center ]" style="margin: 15px;">
    <div class="[ btn-group ]">
      <label (click)="homepage()" id="label_logout"
             class="[ btn btn-default text-center wide ]">
        Back
      </label>
    </div>
  </div>

</div>
