<div class="SearchDiv"
     (click)="clickHandler($event)">

  <input placeholder="{{ placeholder }}"
         (keyup)="keyPressHandler($event)"
         style="width:100%;"
         floatingPlaceholder="false"
         class="SearchBox form-control"
         aria-describedby="basic-addon1"
         type="text"
         [ngModel]="content">

  <div class="SearchResults"
       [ngClass]="{'visible': displayCompletions}">
    <ul style="list-style: none; padding-left: 0px;">
      <div *ngFor="let item of suggestions">
          <li class="SearchResultEntry"
              tabindex="0"
              *ngIf="item.display"
              (click)="itemClicked($event)">
            {{item.name}} - {{item.roll}}
          </li>
      </div>
    </ul>
  </div>
</div>
