<div class="col-sm-3"></div>
<div class="col-sm-6 jumbotron center-block">
  <h1>Login</h1>
  <form role="form" (submit)="login($event, username.value, password.value)">
  <div class="form-group">
    <label for="username">Roll Number</label>
    <input type="text" #username class="form-control" id="username" placeholder="Username">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
  <a [routerLink]="['/signup']">Click here to Signup</a> --
  <a [routerLink]="['/about']">About and info</a>
  </form>
  <p class="note"> Note that you need to signup before you can log in. </p>
</div>
<div class="col-sm-3"></div>
