<div class="col-sm-3"></div>
<div class="col-sm-6 jumbotron center-block">
  <h1>Login</h1>
  <form role="form" (submit)="login($event, username.value, password.value)">
  <div class="form-group">
    <label for="username">Roll Number</label>
    <input type="text" #username class="form-control" id="username" placeholder="Enter your roll number here">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>
  <div class="container">
    <button type="submit" class="btn btn-default col-sm-4" style="float: left;width:100%">Login</button>
    <button [routerLink]="['/signup']" class="btn btn-default col-sm-8" style="float: right; width: 100%;">Create your account</button>
  </div>
  <div class="container">
    <button [routerLink]="['/about']" class="btn btn-default col-sm-4" style="float: left; width:100%;">About</button>
    <button [routerLink]="['/howto']" class="btn btn-default col-sm-8" style="float: right; width:100%;">How to use</button>
  </div>
  </form>
  <p class="text-center note"> Note that you need to create an account before you can log in. </p>
</div>
<div class="col-sm-3"></div>
