<div class="col-sm-3"></div>
<div class="col-sm-6 jumbotron center-block">
  <h1>Login</h1>
  <form role="form" (submit)="login($event, username.value, password.value)">
  <div class="form-group">
    <label for="username">Roll Number</label>
    <input type="text" #username class="form-control" id="username" placeholder="Enter your roll number here">
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" #password class="form-control" id="password" placeholder="Password">
  </div>
  <div class="container">
    <button type="submit" class="btn btn-default col-md-3">Login</button>
    <button [routerLink]="['/signup']" class="btn btn-default col-md-4" style="text-align: center; padding-left: 5px; padding-right: 5px; width: auto;">Create your account</button>
    <button [routerLink]="['/about']" class="btn btn-default col-md-3" style="float: right;">About</button>
  </div>
  </form>
  <p class="text-center note"> Note that you need to create an account before you can log in. </p>
</div>
<div class="col-sm-3"></div>
